### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
iSMC
dist/
vendor/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Unit tests and coverage reports
profile.cov
report.xml

### Intellij ###
# User-specific stuff:
.idea/

# CMake
cmake-build-debug/

## File-based project format:
*.iws

# IntelliJ
/out/

### VisualStudioCode ###
.vscode/

## Usual macOS cruft ###
.DS_Store
